.footer-section{
    background-color: #1E2833;
    background-image: url(../../images/skybluequater.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.footer_conatiner{
    background-image: url(../../images/circles.png);
    background-repeat: no-repeat;
    background-position-x: 33px;
    background-position-y: 22px;
    padding: 0px 87px;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 71px 0px;
}
.footer-section {
    background-color: #44931b;
  }
  .footer-logodv {
    padding-top: 9px;
    margin-bottom: 25px;
  }
  .fter-cmpny-dscrtn {
    width: 30%;
  }
  .footer-title {
    color: #fff;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 20px;
    line-height: 29px;
    font-weight: 500;
    margin-top: 19px;
    margin-bottom: 32px;
  }
  .fter-cmpny-dscrtn > p {
    color: #dee5ef;
  }
  .footer-links {
    color: #fafafa;
    font-size: 14px;
  }
  .footer-socialwrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .copyrightwrap {
    display: flex;
    color: #999999;
    justify-content: space-between;
    padding-bottom: 60px;
  }
  .footer_addreswrap{
      width: 17%;
  }
  .footer_socialwrap{
      width: 20%;
  }
  .reserves {
    width: 40%;
  }
  .terms {
    width: 14%;
  }
  .privacy {
    width: 18%;
  }